{% load static %}

<header id="site-header">
    <div id="site-logo">
        {% for settings in context_settings %}
        <img src="{{settings.logo.url}}" alt="">
        {% endfor %}
    </div>
    <div id="site-list-container">
        <div class="site-list-item">
            <a href="{% url 'main:home' %}">ANASAYFA</a>
        </div>
        <div class="site-list-item">
            <a href="{% url 'main:faqs' %}">S.S.S</a>
        </div>
        <div class="site-list-item about-dropdwn">
            <a href="{% url 'main:aboutus' %}">HAKKIMIZDA
                <ul>
                    <li>
                        <a href="{% url 'main:aboutus' %}">Büro</a>
                    </li>

                    {% for employee in context_employees %}
                    <li>
                        <a href="{{employee.get_absolute_url}}"> {{employee.name|add:" "|add:employee.surname|title}}</a>
                    </li>
                    {% endfor %}

                </ul>
            </a>
        </div>
        <div class="site-list-item about-dropdwn">
            <a href="">FAALİYET ALANLARI
                <ul>
                    {% for area in context_practice_areas %}
                        <li>
                            <a href="{{area.get_absolute_url}}">{{area.title|title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </a>
        </div>
        <div class="site-list-item">
            <a href="{% url 'post:index' %}">BLOG</a>
        </div>
        <div class="site-list-item bordered">
            <a href="{% url 'main:contact' %}">İLETİŞİM</a>
        </div>
    </div>

</header>