{% load static %}

 <header id="site-header">
    <div id="site-logo">
        <img src="{% static 'img/logo.png'%}" alt="">
    </div>
    <div id="site-list-container">
        <div class="site-list-item">
            <a href="{% url 'main:home' %}">ANASAYFA</a>
        </div>
        <div class="site-list-item">
            <a href="{% url 'main:faqs' %}">S.S.S</a>
        </div>
        <div class="site-list-item about-dropdwn">
            <a href="{% url 'main:aboutus' %}">HAKKIMIZDA
                <ul>
                    <a href="about.html"><li>Hakkımızda</li></a>
                    {% for employee in context_employees %}
                        <a href="{{employee.get_absolute_url}}"><li>{{employee.name|title}}</li><br></a>
                    {% endfor %}
                </ul>
            </a>
            
        </div>
        <div class="site-list-item">
            <a href="">DANIŞMA</a>
        </div>
        <div class="site-list-item about-dropdwn">
            <a href="{% url 'main:practice_areas' %}">FAALİYET ALANLARI
                <ul>
                    {% for area in context_practice_areas %}
                        <a href=""><li>{{area.title|title}}</li><br></a>
                    {% endfor %}
                </ul>
            
            </a>
        </div>
        <div class="site-list-item">
            <a href="{% url 'post:index' %}">BLOG</a>
        </div>
        <div class="site-list-item bordered">
            <a href="{% url 'main:contact' %}">İLETİŞİM</a>
        </div>
    </div>

</header>