{% extends 'partials/base.html' %}
{% load static %}
{% block body %}


<div id="practiceareas-container">
    <div id="practiceareas-overlay">
        {% include 'partials/header.html' %}

        <div id="description-wrapper">
            <p class="desc-bold"><strong>{{practice_areas|first}}</strong></p>
        </div>

    </div>
</div>

<main id="page">
    <div class="page-content practiceareas-page-content">
        <div class="practiceareas-aside">
            <ul>
                <li class="practice-areas-list-title ">Practice Areas</li>
                {% for area in practice_areas %}
                    <li class="practice-areas-list-item {% if request.path == area.get_absolute_url %} active {% endif %} ">
                        <a href="{{area.get_absolute_url}}">
                            {{area.title}}
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="practiceareas-article">
            <h2><strong>{{current_area.title}}</strong></h2>
            {{current_area.desc|safe}}
        </div>




    </div>




</main>


{% endblock %}