{% extends 'partials/base.html' %}

{% load static %}



{% block body %}


<div id="practiceareas-container">
    <div id="practiceareas-overlay">
        {% include 'partials/header.html' %}

        <div id="description-wrapper">
            <p class="desc-bold"><strong>WRONGFUL TERMINATION</strong></p>
        </div>

    </div>
</div>

<main id="page">
    <div class="page-content practiceareas-page-content">
        <div class="practiceareas-aside">
            <ul>
                <li class="practice-areas-list-title">Practice Areas</li>
                <li class="practice-areas-list-item"><a class="active" href="">WRONGFUL TERMINATION</a></li>
                <li class="practice-areas-list-item"><a href="">RETALIATION</a></li>
                <li class="practice-areas-list-item"><a href="">DISCRIMINATION</a></li>
                <li class="practice-areas-list-item"><a href="">FAMILY/MEDICAL LEAVE</a></li>
                <li class="practice-areas-list-item"><a href="">SEXUAL HARASSMENT</a></li>
                <li class="practice-areas-list-item"><a href="">EQUAL PAY</a></li>
                <li class="practice-areas-list-item"><a href="">PREGNANCY & NURSING</a></li>
                <li class="practice-areas-list-item"><a href="">SEVERANCE & SEPARATION</a></li>
                <li class="practice-areas-list-item"><a href="">CONTRACT REVIEW AND NEGOTIATION</a></li>
                <li class="practice-areas-list-item"><a href="">NON-COMPETE</a></li>
                <li class="practice-areas-list-item"><a href="">WAGE DISPUTES</a></li>
                <li class="practice-areas-list-item"><a href="">DISABILITY BENEFITS</a></li>
            </ul>
        </div>
        <div class="practiceareas-article">
            <h2><strong>WHAT IS WRONGFUL TERMINATION?</strong></h2>
            <p>The phrase "wrongful termination" is often misunderstood. Employers are allowed to make bad, unfair, and
                illogical decisions. Even if you are fired for something you didn't do, the termination is not
                necessarily "wrongful" under the law. </p>
            <p>Employment actions recognized as "wrongful" or “unlawful” are very limited. </p>
            <p>What makes an action "wrongful" or illegal is the motivation behind it - i.e., the reason why an employer
                fires, disciplines, or otherwise treats an employee differently. Some reasons are perfectly legal (ex:
                preference for family members, personality differences, financial concerns). Other reasons are not legal
                (ex: race, national origin, color, age, gender, disability, or religion, complaints about unlawful acts,
                use of health insurance benefits, etc). See our pages on Discrimination and Retaliation to review what
                types of motivation are illegal.</p>
            <div class="article-align-left">
                <h2><strong>HOW WE CAN HELP:</strong></h2>
                <ul>
                    <li>
                        <p><strong>Understand Your Rights.</strong>If you have just been terminated, it’s important that
                            you have a full
                            understanding of what your legal rights are and are not. Many times it is difficult to
                            determine
                            whether a termination is wrongful under the law, or simply based on an unfair, bad decision.
                            This is compounded by the fact that employers sometimes give more than one reason for a
                            termination decision. We can help provide you with some certainty in a very difficult,
                            highly
                            emotional situation by analyzing the reasons and circumstances surrounding your termination
                            and
                            letting you know if your termination is actionable. </p>
                    </li>
                    <li>
                        <p><strong>Negotiate a Severance.</strong>In many wrongful termination cases, it's in your best
                            interest to try and
                            resolve the dispute early on - before it becomes public, potentially interfering with your
                            ability to find a new job. We often negotiate severances, or exit packages, that compensate
                            you
                            for the wrongful termination, and preserve your access to unemployment benefits and your
                            ability
                            to get a new job. </p>
                    </li>
                    <li>
                        <p><strong>Wrongful Termination Lawsuits.</strong>If your employer is unwilling to negotiate an
                            out-of-court
                            resolution, a lawsuit may be in order. We represent wrongful termination clients regularly -
                            in
                            court, in arbitrations, and in front of the EEOC. We'll make sure you understand all of the
                            risks and benefits involved, and if you decide to sue, we'll shepherd you through - always
                            advocating for your rights, and keeping your best interests at the forefront of the process.
                        </p>
                    </li>
                </ul>
            </div>
        </div>




    </div>




</main>


{% endblock %}