{% extends 'partials/base.html' %}


{% block body %}

    <div id="blog-details-container">
        <div id="blog-details-overlay">
                {% include 'partials/header.html' %}
            <div class="description-wrapper blog-details-wrapper">
                <p class="wrapper-time">{{post.published_date|date}}</p>
                <p class="desc-bold blog-details-desc"><strong>{{post.title|title}}</strong></p>
                <input type="hidden" id="post_obj" name="variable" value="{{ post.id }}">
            </div>
        </div>
    </div>

    <main id="page">
        <div class="page-content blog-details-page-content">
            <div class="blog-details-content">
                {% if post.image %}
                    <img src="{{post.image.url}}" >
                {% endif %}
                {{post.content|safe}}<br>
                <p class="entry-tags">Tagged: <a href="">sexual harassment</a>,<a href=""> hostile work environment</a>,
                    <a href="">quid pro quo</a>, <a href="">TWC Civil Rights Division</a>,
                    <a href="">Charge of Discrimination
                    </a>
                </p>
                <div class="entry-actions">
                    <div class="like-action"> <i class="fas fa-heart"></i>
                        <span class="ea-1">{{post.number_like}}</span>
                        <span class="ea-2">Likes</span>
                    </div>
                   
                    <div class="share-action">
                        <i class="fas fa-share-alt"></i>
                        <span class="ea-3">{{post.number_share}}</span>
                        <span class="ea-4">&nbspShare</span>
                        <div class="share-toggle">
                        
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"><i class="fab fa-facebook-square">Facebook</i></a>
                        <a href="https://twitter.com/home?status={{share_string}}%20{{request.build_absolute_uri}}"><i class="fab fa-twitter-square">Twitter</i></a>
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{post.title}}&summary={{share_string}}&source={{request.build_absolute_uri}}"><i class="fab fa-linkedin">Linkedin</i></a>
                        </div>
                    </div>

                </div>
                {% if older_post %}
                    <div class="older">
                    <span>Older Post</span>
                        <div class="older-post-name">
                            <a href="{{older_post.get_absolute_url}}">{{older_post.title|title}}<br></a>
                        </div>
                    </div>
                {% endif %}
                {% if newer_post %}
                    <div class="older">
                    <span>Newer Post</span>
                        <div class="older-post-name">
                            <a href="{{newer_post.get_absolute_url}}">{{newer_post.title|title}}<br></a>
                        </div>
                    </div>
                {% endif %}


                
            </div>

        </div>
    </main>

    



{% endblock  %}